.statistics {
}
.title {
  text-align: center;
  text-transform: uppercase;
}
.stat-list {
  justify-content: center;
  display: flex;
  list-style-type: none;
}
.item {
  padding: 8px;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}
.percentage {
  font-size: 1.5rem;
}
